<VirtualHost *:80>
    DocumentRoot /srv/www
    <Directory /srv/www>
        Options FollowSymLinks
        AllowOverride Limit Options FileInfo
        DirectoryIndex index.php
        Require all granted
    </Directory>
    <Directory /srv/www/wp-content>
        Options FollowSymLinks
        Require all granted
    </Directory>
</VirtualHost>
